In [ ]:
# Association rule mining with Apriori algorithm

In [ ]:
pip install mlxtend==0.17.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mlxtend==0.17.0
  Downloading mlxtend-0.17.0-py2.py3-none-any.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 17.2 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.10/dist-packages (from mlxtend==0.17.0) (1.10.1)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.10/dist-packages (from mlxtend==0.17.0) (1.22.4)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.10/dist-packages (from mlxtend==0.17.0) (1.5.3)
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.10/dist-packages (from mlxtend==0.17.0) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from mlxtend==0.17.0) (3.7.1)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.10/dist-packages (from mlxtend==0.17.0) (1.2.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from mlxtend==0.17.0) (67.7.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend==0.17.0) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend==0.17.0) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend==0.17.0) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend==0.17.0) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend==0.17.0) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend==0.17.0) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend==0.17.0) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend==0.17.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.2->mlxtend==0.17.0) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.3->mlxtend==0.17.0) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend==0.17.0) (1.16.0)
Installing collected packages: mlxtend
  Attempting uninstall: mlxtend
    Found existing installation: mlxtend 0.14.0
    Uninstalling mlxtend-0.14.0:
      Successfully uninstalled mlxtend-0.14.0
Successfully installed mlxtend-0.17.0

In [ ]:
## create a small data set

In [ ]:
import pandas as pd
data=pd.DataFrame({'Milk':[1, 1, 0 ,1 ,1],
                   'Bread':[1,0,1,1,0],
                   'cheese': [1,1,1,0,0],
                   'Apples':[0,1,0,1,0],
                   'Bananas':[0,1,1,0,1]})
data

   Milk  Bread  cheese  Apples  Bananas
0     1      1       1       0        0
1     1      0       1       1        1
2     0      1       1       0        1
3     1      1       0       1        0
4     1      0       0       0        1

In [ ]:
# generate frequent item set using mlxtend and join association rule

In [ ]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
# set the minimum support 0.4
min_support_threshold=0.4
frequent_itemsets=apriori(data,min_support=min_support_threshold,use_colnames=True)

In [ ]:
frequent_itemsets

    support           itemsets
0       0.8             (Milk)
1       0.6            (Bread)
2       0.6           (cheese)
3       0.4           (Apples)
4       0.6          (Bananas)
5       0.4      (Milk, Bread)
6       0.4     (cheese, Milk)
7       0.4     (Apples, Milk)
8       0.4    (Bananas, Milk)
9       0.4    (cheese, Bread)
10      0.4  (Bananas, cheese)

In [ ]:
# generate association rule

In [ ]:
rules=association_rules(frequent_itemsets,metric='lift',min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Apples),(Milk),0.4,0.8,0.4,1.000000,1.250000,0.08,inf
1,(Milk),(Apples),0.8,0.4,0.4,0.500000,1.250000,0.08,1.2
2,(cheese),(Bread),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
3,(Bread),(cheese),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
4,(Bananas),(cheese),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
5,(cheese),(Bananas),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2